<!DOCTYPE html>
<html>
  <head>
    <title>FirekampWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navbar' %>

    <% if user_signed_in? %>
      <div class="d-flex justify-content-end">
        <%= link_to 'Sign Out', sign_out_auth_index_path, method: :delete, class: 'btn btn-primary' %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-wa"><%= flash[:alert] %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
